html,
body,
div,
span,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
center,
ul,
li,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
article,
footer,
header,
nav,
section {
  display:block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
.row {
  margin-left: -30px;
  /**zoom: 1;*/
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="grid_"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
.container {
  width: 1170px;
}
.grid_12 {
  width: 1170px;
}
.grid_4 {
  width: 370px;  
}
.container {
  margin-right: auto;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .row {
    margin-left: -20px;
    *zoom: 0.9;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container {
    width: 940px;
  }
  .grid_12 {
    width: 940px;
  }
  .grid_4 {
    width: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container {
    width: 748px;
  }
  .grid_12 {
    width: 748px;
  }
  .grid_4 {
    width: 236px;
  }
}
.select-menu {
  display: none !important;
}
@media (max-width: 767px) {
  .container {
    width: 420px;
    padding: 0 0px;
  }
  .row {
    margin-left: 0;
  }
  [class*="grid_"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .select-menu {
    display: block !important;
  }
}
@media (max-width: 479px) {
  body {
    padding: 0;
  }
  .container {
    width: 300px;
    padding: 0 15px;
  }
  .row {
    margin-left: 0;
  }
}

