@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(//fonts.googleapis.com/css?family=Marvel:400,700);
/* =======================================================
					variables
======================================================== */
/*========================================================
										Main layout styles
=========================================================*/
body {
  background: #fff;
  font: 14px/24px Georgia, 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;/*animation after refresh*/
}
a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  font: inherit;
}
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #d94d3a;
}
/*========================================================
										HEADER styles
=========================================================*/
#header {
  padding: 20px 0;
  background: #d94d3a;
}
#header h1 {
  font-size: 10px;
  float: left;
  font-family: 'Marvel', sans-serif;
 /*margin-top:0px;*/
  padding-left: 20px;
  /*background: url(../images/logo.jpeg) left top  no-repeat ;*/
  color: #ffffff;

}
#header h1 a {
  font: 450 44px/44px 'Open Sans', sans-serif;
  color: #ffffff;
}
#header h1 span {
  display: block;
  font: 10px/10px 'Marvel', sans-serif;
}
#header nav {
  float: right;
}
@media only screen and (max-width: 767px) {
  #header {
    text-align: center;
  }
  #header h1,
  #header nav {
    float: none;
    display: inline-block;
  }
  #header nav {
    display: block;
  }
}
/* Main menu styles
========================================================*/
.sf-menu {
  width: 100%;
  text-align: center;
  line-height: 20px;
  margin-top: auto;
  margin-top: 32px;
}
.sf-menu > li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}
.sf-menu > li > a {
  color: #7d261a;
  font-size: 27px;
  margin-left: 29px;
  font-family: 'Marvel', sans-serif;
  margin-bottom: 30px;
  position: relative;
}
.sf-menu > li > a:hover {
  color: #ffffff;
}
.sf-menu > li > a:hover:after {
  content: "";
  height: 4px;
  width: 100%;
  background: #dbb3ae;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.sf-menu > li:first-child {
  padding-right: 0;
}
.sf-menu > li.current > a {
  color: #ffffff;
}
.sf-menu > li.current > a:after {
  content: "";
  height: 4px;
  width: 100%;
  background: #dbb3ae;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.dropbtn {
    color: #7d261a;
    margin-left: 27px;
    font-family: 'Marvel', sans-serif;
    padding: 16px;
    font-size: 27px;
    border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:34px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #d94d3a;}

.dropdown:hover .dropdown-content {display: block;}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#pass{
    margin-left: 20px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.container1 {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
ul li a{
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media only screen and (max-width: 979px) {
  .sf-menu li {
    padding-right: 0;
  }
}
/* First level sub-menu styles
========================================================*/

@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  .select-menu {
    display: block;
    width: 100%;
    border-color: #d94d3a;
    color: #666;
    font-size: 16px;
    padding: 5px;
  }
}
/* Stuck menu styles
========================================================*/

/*========================================================
										CONTENT styles
=========================================================*/
h2,
h3 {
  font-family: 'Marvel', sans-serif;
  color: #000000;
}
h2 {
  font: 300 72px/72px 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
h2 span {
  position: relative;
}
h2 span:before {
  height: 2px;
  position: absolute;
  bottom: 7px;
  background: #000;
  width: 100%;
  content: "";
  display: block;
  left: 0;
}
h3 {
  font-size: 50px;
  font-family: 'Marvel', sans-serif;
  text-align: center;
  line-height: 50px;
}
p {
  font: 14px/24px 'Open Sans', sans-serif;
  color: #727070;
}
.full-width-container {
  width: 100%;
}
.img_container {
  overflow: hidden;
}
.img_container img {
  width: 100%;
}
.btn {
  width: 153px;
  border: 1px solid #000000;
  background: #ffffff;
  display: inline-block;
  font: 24px/46px 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
}
.btn:hover {
  background: #000000;
  color: #ffffff;
}

@media only screen and (max-width: 979px) {
  h2 {
    font: 300 62px/62px 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 40px;
  }
  h2 span:before {
    display: none;
  }
  h3 {
    font: 45px/45px 'Marvel', sans-serif;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font: 300 52px/52px 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 40px;
  }
  h2 span:before {
    display: none;
  }
  h3 {
    font: 45px/45px 'Marvel', sans-serif;
    text-align: center;
  }
  .img_container {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 479px) {
  h2 {
    font: 300 42px/42px 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 40px;
  }
  h2 span:before {
    display: none;
  }
  h3 {
    font: 35px/35px 'Marvel', sans-serif;
    text-align: center;
  }
  .img_container {
    margin-bottom: 20px;
  }
}
.index .block-2 {
  padding: 105px 0 130px;
  text-align: center;
}
.index .block-2 h2 {
  margin-bottom: 60px;
}
.index .block-2 h4 {
  margin-bottom: 25px;
}
.index .block-2 p {
  width: 66%;
  margin: 0 auto;
}
.index .block-2 .btn {
  margin-top: 33px;
  width: 278px;
}
.index .block-3 {
  padding: 123px 0 50px;
  background: url(../images/index_img_par.jpg);
  background-attachment: fixed;
  background-position: center 0%;
  position: relative;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  z-index: 8;
  text-align: center;
}
.index .block-3 h2 {
  color: #ffffff;
  margin-bottom: 70px;
}
.index .block-3 h2 span:before {
  background: #ffffff;
}
.index .block-3 h3 {
  color: #ffffff;
}
.index .block-3 .element {
  padding: 50px 0;
}
.index .block-5 {
  padding: 120px 0 70px;
  text-align: center;
}
.index .block-5 h2 {
  margin-bottom: 60px;
}
.index .block-5 h3 {
  margin-bottom: 22px;
}
.index .block-5 .btn {
  margin-top: 30px;
}
.index .block-5 p {
  text-align: left;
}
@media only screen and (max-width: 979px) {
  .index .block-3 h3 {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .index .block-3 .element {
    padding: 0;
  }
  .index .block-5 article {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 979px) and (min-width: 768px) {
  .index-1 .block-3 .bd-ra {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .index-1 .block-3 .bd-ra {
    margin: 10px auto;
  }
  .index-1 .block-3 p {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .index-4 h2 {
    margin-top: 30px;
  }
}
/*========================================================
										FOOTER styles
=========================================================*/
#footer {
  background: #d94d3a;
  padding: 100px 0 0;
  color: #000000;
}
#footer a {
  color: inherit;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .copyright {
  text-align: center;
}
#footer .copyright .btn {
  width: 94px;
  height: 94px;
  line-height: 94px;
  font-size: 60px;
  color: #423e3e;
  background: #fff;
  border: none;
  margin: 30px 50px;
}
#footer .copyright .btn span {
  line-height: 94px;
}
#footer .copyright .btn:hover {
  background: #423e3e;
  color: #fff;
}
#footer .copyright pre {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
#footer .footer_bottom {
  height: 35px;
  text-align: center;
  background: #423e3e;
}


@media only screen and (max-width: 767px) {
  #footer .copyright .btn {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 30px 25px;
  }
}
@media only screen and (max-width: 479px) {
  #footer .copyright .btn {
    display: block;
    margin: 20px auto;
  }
}
/*========================================================
								RESPONSIVE LAYOUTS STYLES 
=========================================================*/
@media only screen and (max-width: 1199px) {
  .sample {
    height: auto;
    /*delete this class*/
  }
}
@media only screen and (max-width: 979px) {
  .sample {
    height: auto;
    /*delete this class*/
  }
}
@media only screen and (max-width: 767px) {
  .sample {
    height: auto;
    /*delete this class*/
  }
}
@media only screen and (max-width: 480px) {
  .sample {
    height: auto;
    /*delete this class*/
  }
}
@media only screen and (max-width: 320px) {
  .sample {
    height: auto;
    /*delete this class*/
  }
}
.container{
    margin-left: 70px;
}